.admin-dashboard{
    min-height: 100vh;
    .breadcrumb-container{
        margin-bottom: 30px;
    }
    .greetings-container{       
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.1);       
        margin-bottom: 30px;
    }

    .statistic-container{
     
        .presolved-card{
            box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;

        }
    }
    h1, h2, h3, h4, h5, h6{
       margin: 3px 0;
    }
}